* {
  margin: 0;
  padding: 0; 
  box-sizing:border-box
}

.debug {
  border: 1px solid black; 
  background-color: blanchedalmond;
  height:200px;
}

h1{
  font-family:"Fredoka", serif;
}

.hide {
  display: none;
}